.nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    height: 80px;
}




.logo{
    position: fixed;
    margin-top: 25px;
    left: 20px;
    width: 80px;
}
